.drag-button {
    -fx-border-insets: 10px;
}

.empty-btn {
    -fx-background-color: transparent;
    -fx-background-insets: 10px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-style: segments(5, 5) line-cap round;
    -fx-border-width: 2px;
    -fx-border-color: -primaryLightColor;
}

.empty-btn .image-view{
    -fx-effect: innershadow( gaussian , -primaryLightColor , 7 , 1 , 1 , 1 );
}

.empty-btn:hover {
    -fx-opacity: 1;
    /*-fx-background-color: -primaryLightColor;*/
    -fx-border-color: -primaryTextColor;
}

.empty-btn:hover .image-view{
    -fx-effect: innershadow( gaussian , -primaryTextColor , 7 , 1 , 1 , 1 );
}

.component-btn {
    -fx-background-color: transparent;
    -fx-background-insets: 4px;
    -fx-background-radius: 4px;
    -fx-opacity: 1;
    -fx-text-fill: -primaryTextColor;
}

.component-btn .label{
    -fx-text-fill: -primaryTextColor;
}

.component-btn:hover {
    -fx-effect: innershadow( gaussian , rgba(255,255,255,0.2), 70 , 1 , 1 , 1 );
}

.drag-entered {
    -fx-background-color: -secondaryColor;
}

.drag-entered-danger {
    -fx-background-color: #b85152;
}

.selected {
    -fx-background-color: #dada67;
}

.folder-button .image-view{
    -fx-effect: innershadow( gaussian , -primaryLightColor , 70 , 1 , 1 , 1 );
}

.shortcut-button .image-view{
    -fx-effect: innershadow( gaussian , -primaryTextColor , 70 , 1 , 1 , 1 );
}

.shortcut-button .shortcut-box{
    -fx-background-color: -primaryLightColor;
    -fx-background-radius: 6px;
    -fx-padding: 8px;
}

.system-button .image-view{
    -fx-effect: innershadow( gaussian , -primaryTextColor , 70 , 1 , 1 , 1 );
    -fx-opacity: 0.8;
}

.system-button:hover .image-view{
    -fx-opacity: 1;
}

.confirmation-button {
    -fx-background-color: transparent;
}

.confirmation-button:hover {
    -fx-background-color: -primaryLightColor;
    -fx-background-radius: 2px;
}