@import "toolbar.css";
@import "buttons.css";

.editor-container {
    -fx-background-color: -primaryLightColor;
    -fx-padding: 0;
}

.bottombar-portrait {
    -fx-padding: 0 20 20 20;
    -fx-background-color: -primaryColor;
    -fx-background-radius: 2px;
}

.bottombar-landscape {
    -fx-padding: 20 20 20 0;
    -fx-background-color: -primaryColor;
    -fx-background-radius: 2px;
}

.page-grid-portrait {
    -fx-padding: 20 20 10 20;
}

.page-grid-landscape {
    -fx-padding: 20 15 20 20;
}

.content-scrollpane {
    -fx-background-color:transparent;
    -fx-padding: 0;
}

.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -primaryLightColor;
    -fx-pref-width: 5px;
}

.list-view .list-cell:even {
    -fx-background-color: -primaryTextColor;
}
.list-view .list-cell:odd {
    -fx-background-color: -primaryTextColor;
}
.list-view .list-cell:filled:selected{
    -fx-background-color: #57687c;
}

.list-view .list-cell:filled:selected .label{
    -fx-text-fill: -primaryTextColor;
}

.list-view .list-cell:filled:selected .style-icon{
    -fx-effect: innershadow( gaussian , -primaryTextColor , 70 , 1 , 1 , 1 );
}

.list-view .list-cell {
    -fx-pref-height: 45px;
}

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

.list-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.tab-pane
{
    -fx-tab-min-width:50px;
    -fx-tab-max-height: 0 ;
}

.tab-pane:top .tab-content-area {
    -fx-background-color: -primaryColorEditor;
    -fx-background-radius: 2;
}

.tab-pane .tab-header-area {
    visibility: hidden ;
}

.tab-pane-controller {
    -fx-background-color: -primaryColor;
}

.tab-pane-controller .button{
    -fx-background-color: transparent;
    -fx-opacity: 0.8;
    -fx-padding: 0px;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}

.portrait {
    -fx-padding: 0 20 20 20;
}

.landscape {
    -fx-padding: 20 20 20 0;
}

.tab-pane-controller .button .image-view{
    -fx-effect: innershadow( gaussian , -primaryLightColor , 70 , 1 , 1 , 1 );
}

.tab-pane-controller .button .dot-selected{
    -fx-effect: innershadow( gaussian , -secondaryColor , 70 , 1 , 1 , 1 );
}

.tab-pane-controller .button:hover{
    -fx-opacity: 1;
}

.section-box {
    -fx-background-color: -primaryColor;
}

.progress-bar {
    -fx-max-height: 5px;
    -fx-pref-height: 5px;
}

.progress-bar > .track {
    -fx-background-color: transparent;
}

.progress-bar > .bar {
    -fx-background-color: -secondaryDarkColor;
    -fx-padding: 4px;
    -fx-background-insets: 0px;
    -fx-background-radius: 0;
}