.tool-bar {
    -fx-background-color: -primaryColor;
    -fx-pref-height: 40px;
    -fx-padding: 0 6 0 4;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.9), 10, 0, 0, 0);*/
}

.tool-bar .button{
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tool-bar .button:hover{
    -fx-background-color: -primaryLightColor;
    -fx-focus-color: transparent;
}