.root {
    -primaryColor: #2c3e50;
    -primaryDarkColor: #031828;
    -primaryLightColor: #57687c;
    -primaryTextColor: #ecf0f1;
    -primaryColorEditor: -primaryColor;
    -backgroundLightColor: #fafafa;
    -secondaryColor: #68a4c8;
    -secondaryDarkColor: #357597;
    -secondaryLightColor: #9ad5fb;
    -secondaryTextColor: #000000;

    -light-gray: rgb(155,155,155);

    -start-green-gradient: #42E695;
    -stop-green-gradient: #3BB2B8;

    -green-gradient: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);

    -start-red-gradient: #F54EA2;
    -stop-red-gradient: #FF7676;

    -red-gradient: linear-gradient(to bottom right, -start-red-gradient, -stop-red-gradient);

    -start-blue-gradient: #61709c;
    -stop-blue-gradient: #364163;

    -blue-gradient: linear-gradient(to bottom right, -start-blue-gradient, -stop-blue-gradient);

}