.root {
    -primaryColor: #2c3e50;
    -primaryDarkColor: #031828;
    -primaryLightColor: #57687c;
    -primaryTextColor: #ecf0f1;
    -primaryColorEditor: -primaryColor;
    -backgroundLightColor: #fafafa;
    -secondaryColor: #68a4c8;
    -secondaryDarkColor: #357597;
    -secondaryLightColor: #9ad5fb;
    -secondaryTextColor: #000000;

    -light-gray: rgb(155,155,155);

    -start-green-gradient: #42E695;
    -stop-green-gradient: #3BB2B8;

    -green-gradient: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
}