@import "colors.css";

.text-field {
    -fx-background-color: -primaryTextColor;
}

.value-error {
    -fx-background-color: #a50012;
}

.command-box {
    -fx-background-color: -primaryColor;
}

.command-box .label{
    -fx-text-fill: -primaryTextColor;
}

.command-box .menu-button .label{
    -fx-text-fill: -secondaryTextColor;
}

.choice-box .label{
    -fx-text-fill: -secondaryTextColor;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-background-color: -primaryLightColor;
}
.table-view .column-header .label {
    -fx-text-fill: -primaryTextColor;
}