@import "colors.css";

.root {
    -fx-background-radius: 10px;
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.3), 20, 0, 4, 4);
    -fx-padding: 20px;
    -fx-background-insets: 20;
    -fx-background-color: white;
}

#top-section {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
    -fx-padding: 0;
}

.tool-bar {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: white;
    -fx-padding: 4px 6px 4px 6px;
    -fx-pref-height: 20px;
    -fx-spacing: 4px;
}

.tool-bar .button:hover {
    -fx-effect: innershadow( one-pass-box , -start-green-gradient, 70 , 1 , 1 , 1 );
}

.tool-bar .button {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.tool-bar #filler_pane {
    -fx-background-color: transparent;
}

#app_scroll_pane {
    -fx-background-color: transparent;
}

#app_scroll_pane > .viewport {
    -fx-background-color: transparent;
}

#app_scroll_pane #app_box {
    -fx-background-color: transparent;
}