@import "colors.css";

.dialog-pane {
    -fx-background-color: -primaryColor;
}

.dialog-pane .label {
    -fx-text-fill: -primaryTextColor;
}

.dialog-pane .text-field {
    -fx-background-color: -primaryTextColor;
}

.icon-button {
    -fx-background-color: -primaryLightColor;
    -fx-text-fill: -primaryTextColor;
}

.key-button-toolbar {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.key-button-toolbar .key-button {
    -fx-background-color: -primaryLightColor;
    -fx-text-fill: -primaryTextColor;
    -fx-background-radius: 2px;
    -fx-opacity: 0.8;
}

.key-button-toolbar .key-button:hover {
    -fx-opacity: 1;
}

.icon-button .label {
    -fx-text-fill: -primaryTextColor;
}

.shortcut-text-field {
    -fx-font-size: 24px;
}

.clear-button {
    -fx-background-color: -primaryLightColor;
}