.empty-btn {
    -fx-opacity: 0.5;
}

.bottombar-portrait {
    -fx-padding: 10 0 0 0;
}

.bottombar-landscape {
    -fx-padding: 0 10 0 0;
}

.root {
    -fx-background-color: #232523;
}

/*.tool-bar {*/
    /*-fx-background-color: linear-gradient(#01508b 0%, #014174 100%);*/
/*}*/

.drag-entered {
    -fx-background-color: #6cac6a;
}

.drag-entered-danger {
    -fx-background-color: #b85152;
}

.selected {
    -fx-background-color: #dada67;
}