@import "colors.css";

@font-face {
    src: url('../font/NunitoSans-Light.ttf');
}

@font-face {
    src: url('../font/NunitoSans-Bold.ttf');
}

.root {
    -fx-background-color: -primaryTextColor;
    -fx-background-radius: 3px;
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.15), 20, 0, 4, 4);
    -fx-padding: 20px;
    -fx-background-insets: 20;
}

.dokey-logo-box {
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-family: "Nunito Sans Light";
    -fx-background-color: transparent;
    -fx-font-size: 24;
    -fx-text-fill: #555555;
}

.filter-label {
    -fx-font-family: "Nunito Sans Light";
    -fx-font-size: 16;
    -fx-text-fill: #555555;
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.dokey-search-result-box {
    -fx-padding: 5 10 5 10;
}

.dokey-search-result-title{
    -fx-padding: 0 0 0 18;
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 14px;
}

.dokey-search-result-description {
    -fx-padding: 0 0 0 18;
    -fx-font-family: "Nunito Sans Light";
    -fx-font-size: 12px;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell:even {
    -fx-background-color: transparent;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
}
.list-view .list-cell:filled:selected{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #42E695, #3BB2B8);
}

.list-view .list-cell:filled:selected .dokey-search-result-icon{
    -fx-effect: innershadow( gaussian , -primaryTextColor , 7 , 1 , 1 , 1 );
}

.list-view .list-cell:filled:selected .dokey-search-result-image{
    -fx-effect: none;
}
/*.list-view .list-cell:filled:selected .label{*/
    /*-fx-text-fill: -primaryTextColor;*/
/*}*/

.list-view .scroll-bar .increment-arrow,
.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

.list-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}