.command-list-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.command-list-view .list-cell:even {
    -fx-background-color: transparent;
}
.command-list-view .list-cell:odd {
    -fx-background-color: #eeeeee;
}
.command-list-view .list-cell:deleted {
    -fx-background-color: -red-gradient;
}

.command-list-view .list-cell:filled:selected{
    -fx-background-color: -green-gradient;
}
.command-list-view .list-cell:filled:selected .label, .command-list-view .list-cell:filled:deleted .label{
    -fx-text-fill: black;
}
.command-list-view .list-cell:filled:selected:deleted {
    -fx-background-color: -blue-gradient;
}

.command-list-view .scroll-bar .increment-arrow,
.command-list-view .scroll-bar .decrement-arrow,
.command-list-view .scroll-bar .increment-button,
.command-list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

.command-list-cell {
    -fx-padding: 8px 15px 8px 11px;
}

.command-list-cell-vbox {
    -fx-padding: 0px 5px 0px 12px;
}

.command-list-cell-title {
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 13px;
}

.command-list-cell-desc {
    -fx-font-family: "Nunito Sans Regular";
    -fx-text-fill: #636363;
    -fx-font-size: 11px;
}

.command-list-cell-date {
    -fx-font-family: "Nunito Sans Regular";
    -fx-font-size: 14px;
}

.command-tab-list-header {
    -fx-background-color: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
    -fx-padding: 2px 5px 2px 48px;
    -fx-font-family: "Nunito Sans Bold";
}