.layout-toolbar {
    -fx-background-color: white;
    -fx-pref-height: 47px;
    -fx-padding: 0px 10px 10px 24px;
}

.layout-toolbar > .label {
    -fx-font-size: 20px;
    -fx-font-family: "Nunito Sans Regular";
}

.layout-toolbar > .button {
    -fx-background-color: transparent;
    -fx-padding: 3px;
}

.layout-toolbar > .button:hover {
    -fx-effect: innershadow( one-pass-box , -start-green-gradient, 70 , 1 , 1 , 1 );
}