.layout-toolbar {
    -fx-background-color: white;
    -fx-pref-height: 30px;
    -fx-padding: 0px 10px 10px 20px;
}

.layout-toolbar > .label {
    -fx-font-size: 16px;
    -fx-font-family: "Nunito Sans Light";
}

.layout-toolbar > .button {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.layout-toolbar > .button:hover {
    -fx-effect: innershadow( one-pass-box , -start-green-gradient, 70 , 1 , 1 , 1 );
}