.tool-bar {
    -fx-background-radius: 10px 10px 0 0;
    -fx-background-color: white;
    -fx-padding: 4px 6px 4px 6px;
    -fx-pref-height: 20px;
    -fx-spacing: 8px;
}

.tool-bar .button:hover {
    -fx-effect: innershadow( one-pass-box , -start-green-gradient, 70 , 1 , 1 , 1 );
}

.tool-bar .button {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.tool-bar #filler_pane {
    -fx-background-color: transparent;
}