@import "result_view_adapter.css";
@import "separator_view_adapter.css";

.search-list-view {
    -fx-background-color: transparent;
}

.search-list-view .list-cell:even {
    -fx-background-color: transparent;
}
.search-list-view .list-cell:odd {
    -fx-background-color: transparent;
}
.search-list-view .list-cell:filled:selected{
    -fx-background-color: -green-gradient;
}

.search-list-view .list-cell:filled:selected .dokey-search-result-icon{
    -fx-effect: innershadow( one-pass-box , -primaryTextColor , 7 , 1 , 1 , 1 );
}

.search-list-view .list-cell:filled:selected .dokey-search-result-image{
    -fx-effect: none;
}
/*.search-list-view .list-cell:filled:selected .label{*/
/*-fx-text-fill: -primaryTextColor;*/
/*}*/

.search-list-view .scroll-bar .increment-arrow,
.search-list-view .scroll-bar .decrement-arrow,
.search-list-view .scroll-bar .increment-button,
.search-list-view .scroll-bar .decrement-button {
    -fx-padding:0;
}

.search-list-view {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}