.floating-action-button {
    -fx-background-color: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
    -fx-font-family: "Nunito Sans Bold";
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 20px 0 0 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.15), 4, 0, 0, 3);
}