.toggle-button {
    -fx-min-width: 38px;
    -fx-max-width: 38px;
    -fx-pref-height: 20px;
    -fx-max-height: 20px;

    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;

    -fx-background-color: white;
    -fx-padding: 3px;
}

.toggle-button-ball {
    -fx-effect: innershadow( one-pass-box , black , 7 , 1 , 0 , 0 );
}