.command-edit-dialog-contentbox {
    -fx-padding: 0px 20px 20px 20px;
    -fx-spacing: 10px;
}

.command-edit-dialog-title-field {
    -fx-max-width: 200px;
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-font-family: "Nunito Sans Bold";
}

.command-edit-dialog-desc-field {
    -fx-max-height: 40px;
}

.command-type-button {
    -fx-background-color: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
    -fx-background-radius: 20px;
    -fx-font-size: 13px;
    -fx-font-family: "Nunito Sans Bold";
    -fx-padding: 8px 14px 8px 14px;
}