.drop-dialog-contentbox {
    -fx-border-color: -green-gradient;
    -fx-border-radius: 7px;
    -fx-border-insets: 30px;
    -fx-border-width: 3px;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.drop-dialog-contentbox > .label {
    -fx-font-size: 20px;
    -fx-text-fill: #a3a1a4;
    -fx-font-family: "Nunito Sans Regular";
}