.styled-popup-box {
    -fx-background-color: white;
    -fx-shape: "M416.495,52c11.733-2.667,25.6-10.667,41.6-24c16,13.333,29.867,21.333,41.6,24h71.9c8.836,0,16,7.164,16,16v168.5c0,8.837-7.164,16-16,16H344c-8.836,0-16-7.163-16-16V68c0-8.836,7.164-16,16-16H416.495z";
    -fx-padding: 20px 5px 5px 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.3), 20, 0, 4, 4);
}