.tab-selector-tab {
    -fx-shape: "m177.5,258.5c0,0 244.20483,0 243.5,-0.5c0.70483,0.5 -34.5,-99.5 -35,-100c0.5,0.5 -11.5,-30.5 -76.5,-29.5c-65,1 -40,1 -40.5,0.5c0.5,0.5 -62.5,0.5 -72.5,42.5c-10,42 -19,87 -19,87z";
}

.tab-selector-tab.tab-left {
    -fx-shape: "m80.07143,229.5l216.92857,-0.5l-39,-113c0.5,0.5 -9.5,-34.5 -96.5,-33.5c-87,1 -82,41 -82.5,40.5c0.5,0.5 -2.92857,-12.5 1.07143,106.5z"
}

.tab-selector-tab.tab-right {
    -fx-shape: "m427.238,145.77103l-206.238,-0.5l37.07802,-113c-0.47536,0.5 9.03183,-34.5 91.74434,-33.5c82.71251,1 77.95892,41 78.43428,40.5c-0.47536,0.5 2.78424,-12.5 -1.01862,106.5l-0.00001,0z";
}