.drag-button {
    -fx-border-insets: 2px;
    -fx-pref-height: 10px;
    -fx-pref-width: 80px;
}

.empty-btn {
    -fx-background-color: transparent;
    -fx-background-insets: 10px;
    -fx-background-radius: 12px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-insets: 15px;
    -fx-border-color: -light-gray;
    -fx-padding: 0px;
}

.empty-btn .image-view{
    -fx-effect: innershadow( one-pass-box , -light-gray , 7 , 1 , 1 , 1 );
}

.empty-btn:hover {
    -fx-opacity: 1;
    /*-fx-background-color: -primaryLightColor;*/
    -fx-border-color: black;
}

.empty-btn:hover .image-view{
    -fx-effect: innershadow( one-pass-box , black, 7 , 1 , 1 , 1 );
}

.component-btn {
    -fx-background-color: transparent;
    -fx-background-insets: 4px;
    -fx-background-radius: 4px;
    -fx-opacity: 1;
    -fx-text-fill: black;
}

.component-btn .label{
    -fx-text-fill: black;
}

.invalid-btn {
    /*-fx-background-color: rgba(255,86, 86,0.2);*/
    -fx-opacity: 0.2;
}

.component-btn:hover {
    -fx-effect: innershadow( one-pass-box , rgba(255,255,255,0.2), 70 , 1 , 1 , 1 );
}

.drag-entered{
    -fx-background-color: -green-gradient;
    -fx-border-color: white;
}

.drag-entered .image-view{
    -fx-effect: innershadow( one-pass-box , white, 7 , 1 , 1 , 1 );
}
.drag-entered-danger {
    -fx-background-color: #b85152;
}

.selected {
    -fx-background-color: #dada67;
}