.component-grid {
    -fx-pref-height: 450px;
    -fx-padding: 0px 20px 0 20px;
}

.grid_scroll_pane_container {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.grid_scroll_pane_container > .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.selection-box {
    -fx-background-color: transparent;
    -fx-border-color: -green-gradient;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-style: segments(5, 5) line-cap round;
}