.app_scroll_pane_container {
    -fx-background-color: linear-gradient(to bottom right, -start-green-gradient, -stop-green-gradient);
    -fx-effect: innershadow(one-pass-box, rgba(0,0,0, 0.3), 7, 0, 0, 0);
    -fx-pref-height: 72px;
}

.app_scroll_pane {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 5px 5px 0px 13px;
}

.app_scroll_pane > .viewport {
    -fx-background-color: transparent;
}

.app_scroll_pane > .hbox {
    -fx-background-color: transparent;
}

.app-selector-vbox {
    -fx-spacing: 3px;
}

.app-scroll-pane-button {
    -fx-background-color: transparent;
    -fx-padding: 6px 8px 6px 8px;
}

.app-scroll-pane-button:hover {
    -fx-effect: innershadow( one-pass-box , rgba(255,255,255,0.2), 70 , 1 , 1 , 1 );
}